<ion-header>
  <ion-toolbar  color="danger">
    <ion-title>
      Post A New Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="white">

  <ion-card>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Your Message</ion-label>
          <ion-input></ion-input>
          <ion-tab-button (click)="sendMessage()">
            <ion-icon name="arrow-up-circle-outline" color="primary" ></ion-icon>
            <ion-label>Send</ion-label>
          </ion-tab-button>
        </ion-item>
       
        
      </ion-card-content>
    
  </ion-card>
</ion-content>
